.navbar {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 24px;
  background: #15152a;
}

.navbar-center {
  flex: 1;
}

/* INPUT */
.navbar-center input {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #0f0f14;
  color: white;
  font-size: 15px;
}

.navbar-center input:focus {
  outline: none;
  border-color: #7c5cff;
}
