<div class="trending-games animate" #section>
  <h2>{{ title }}</h2>

  <div class="games-scroll-wrapper">
    <button
      *ngIf="showLeftButton"
      class="scroll-btn left"
      (click)="scrollLeft()"
    >
      &lt;
    </button>

    <div class="games-scroll" #scrollContainer>
      <div
        class="game-card"
        *ngFor="let item of items; let i = index"
        [style.transitionDelay.ms]="i * 80"
        (click)="itemClick.emit(item)"
      >
        <div class="image-wrapper">
          <img [src]="item.image" [alt]="item.name" />
          <div class="game-title">{{ item.name }}</div>
        </div>
      </div>
    </div>

    <button
      *ngIf="showRightButton"
      class="scroll-btn right"
      (click)="scrollRight()"
    >
      &gt;
    </button>
  </div>
</div>
