<div class="register-container">
  <div class="register-card">
    <!-- IZQUIERDA -->
    <div class="register-image">
      <app-logo />
      <h2>SavePoint</h2>
    </div>

    <!-- DERECHA -->
    <div class="register-form">
      <h1>Crea tu cuenta</h1>

      <form (ngSubmit)="register()">
        <app-input-field
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          [disabled]="loading"
        />

        <app-input-field
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          [disabled]="loading"
        />

        <p *ngIf="error" class="error-text">
          {{ error }}
        </p>

        <button type="submit" [disabled]="loading" class="submit-btn">
          <span class="btn-text" [class.hidden]="loading"> Regístrate </span>

          <span class="spinner" *ngIf="loading"></span>
        </button>
      </form>
    </div>
  </div>
</div>
