<div class="search-overlay" *ngIf="query$ | async as query" (click)="closeOverlay()">
  <div class="results" (click)="$event.stopPropagation()">
    <!-- LOADING -->
    <div class="loading" *ngIf="loading$ | async">
      <div class="spinner"></div>
      Buscando juegos…
    </div>

    <!-- RESULTADOS -->
    <ng-container *ngIf="results$ | async as results">
      <div class="games" *ngIf="results.length && !(loading$ | async); else noResults">
        <div class="game-card" *ngFor="let game of results" (click)="goToGame(game.id)">
          <img [src]="game.background_image" alt="" />

          <div class="info">
            <h4>{{ game.name }}</h4>

            <app-platform-icons [platforms]="game.parent_platforms ?? []" size="sm"></app-platform-icons>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- VACÍO -->
    <ng-template #noResults>
      <p class="empty" *ngIf="!(loading$ | async)">No se encontraron juegos</p>
    </ng-template>
  </div>
</div>