<div class="overlay" (click)="onClose()"></div>

<div class="modal">
  <div class="modal-header">
    <h2>{{ playthrough.game_name }}</h2>
    <app-close-button (close)="onClose()"></app-close-button>
  </div>

  <div class="modal-body">
    <img class="cover-image" [src]="playthrough.game_background" [alt]="playthrough.game_name" />

    <div class="modal-actions">
      <!-- MODALS -->
      @if (playthrough.status === 'playing') {
        <app-active-playthrough-card
          [playthrough]="playthrough"
          (finish)="openFinishModal()"
          (edit)="openEditModal($event)"
        />
      } @else {
        <app-history-game-card
          [pastPlaythroughs]="playthrough"
          (editPlaythrough)="openEditModal($event)"
        ></app-history-game-card>
      }

      @if (showEditModal) {
        <app-edit-playthrough-modal
          [playthrough]="playthrough"
          (closed)="closeEditModal()"
          (updated)="onPlaythroughUpdated($event)"
        />
      }

      @if (showFinishModal) {
        <app-finish-playthrough-modal
          [playthrough]="playthrough"
          (closed)="closeFinishModal()"
          (finished)="onPlaythroughFinished($event)"
        />
      }
    </div>
  </div>
</div>
