.chart-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doughnut-skeleton {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
  margin: 20px auto;
  border-radius: 50%;

  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);

  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-hole {
  width: 60%;
  height: 60%;
  background-color: #1a1a25;
  border-radius: 50%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
